/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("/app/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("/app/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("/app/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("/app/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("/app/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot");
  src: url("/app/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("/app/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("/app/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
  font-family: "SegoeUIItalic";
  src: url('/app/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot');
  src: url("/app/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
  url("/app/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
  url("/app/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
  font-family: "SegoeUILight";
  src: url("/app/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot");
  src: url("/app/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("/app/fonts/SegoeUI/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("/app/fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
  font-family: "SegoeUISemiBold";
  src: url("/app/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("/app/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
  url("/app/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
  url("/app/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
