@media (max-width: 1199px) {
  body {
    font-size: 15px;
  }

  .banner-text {
    top: 50px;
    left: 50px;
  }

  .h4 {
    font-size: 18px;
  }

  .h5 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .socials-list i {
    padding: 9px;
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }

  .navbar {
    font-size: 12px;
  }

  .schedule {
    font-size: 15px;
  }

  .h2 {
    font-size: 25px;
  }

  .h4 {
    font-size: 18px;
  }

  .h5 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  footer {
    font-size: 16px;
  }

  .arrow {
    font-size: 22px;
  }

  .socials-list {
    text-align: center;
  }

  .socials-list li {
    margin-bottom: 5px;
  }

  .socials-list i {
    padding: 11px;
    font-size: 25px;
    width: 50px;
    height: 50px
  }

  .banner-text {
    top: 25px;
    left: 25px;
  }
}
