<main class="container">
  <section class="row">
    <div class="col-md-10">
      <div class="col-md-11 offset-md-1 section">
        <p>
          <span class="h2">{{"Aikido" | translate}}</span>
          ({{'Jap' | translate}} 合気道) — {{"Aikido_Description" | translate}}
        </p>
      </div>

      <div class="col-md-12 grey-section grey-section-text section">
        <p>{{"Aikido_Philosophy" | translate}}</p>
      </div>

      <div class="col-md-11 offset-md-1 section">
        <h1 class="h2">{{"Why_Aikido" | translate}}</h1>
        <ul class="dotted-list">
          <li>{{"Aikido_Reason_1" | translate}}</li>
          <li>{{"Aikido_Reason_2" | translate}}</li>
          <li>{{"Aikido_Reason_3" | translate}}</li>
          <li>{{"Aikido_Reason_4" | translate}}</li>
          <li>{{"Aikido_Reason_5" | translate}}</li>
        </ul>
      </div>

      <div class="col-md-12 grey-section section">
        <div class="col-md-11 offset-md-1">
          <h1 class="h2">{{"Ready_Now" | translate}}</h1>
          <p class="h6">{{'What_Interesting' | translate}}</p>
        </div>
      </div>

      <div class="col-md-11 offset-md-1 section">
        <ul class="dotted-list">
          <li>{{'About_Us_1' | translate}}</li>
          <li>{{'About_Us_2' | translate}}</li>
          <li>{{'About_Us_3' | translate}}</li>
          <li>{{'About_Us_4' | translate}}</li>
          <li class="time-red">{{'About_Us_5' | translate}}</li>
        </ul>
      </div>

      <div class="col-md-12 grey-section section">
        <div class="col-md-8 offset-md-1">
          <h1 class="h2">{{"Schedule" | translate}}</h1>
        </div>
        <div class="col-md-3">
          <arrows></arrows>
        </div>
      </div>

      <div class="col-md-11 offset-md-1 schedule section">
        <h2 class="h2">{{'Nearest_Classes' | translate}}</h2>
        <div>
          <nearest-class-schedule ng-repeat="class in home.classesSchedule"
                                  nearest="class">
          </nearest-class-schedule>
        </div>
      </div>
    </div>

    <aside class="col-md-2">
      <ul class="socials-list">
        <li title="{{'VK_Title' | translate}}">
          <a href="https://vk.com/mutokukai_kharkov" target="_blank">
            <i class="fa fa-vk" aria-hidden="true"></i>
          </a>
        </li>
        <li title="{{'FB_Title' | translate}}"><a href="#"><i
            class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li title="{{'Mail_Title' | translate}}"><a
            href="mailto:mutokukai.kharkiv@gmail.com"><i class="fa fa-envelope-o"
                                               aria-hidden="true"></i></a>
        </li>
      </ul>
    </aside>
  </section>
</main>
