<header class="navbar navbar-fixed-top navbar-dark bg-inverse" ng-controller="NavController as nav">
  <div class="container container-grey">
    <div class="nav-left">
      <div class="logo">
        <div class="logo-container">
          <img ng-src="assets/images/logo-red.svg" alt="Logo">
        </div>
        <a class="navbar-brand text-lg-center" ui-sref="home">
          Mutokukai <span>{{"Kharkiv" | translate}}</span>
        </a>
      </div>
      <nav>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a ui-sref="home" ui-sref-active="active">
              {{"Main_Menu_Item" | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a ui-sref="contacts" ui-sref-active="active">
              {{"Contacts_Menu_Item" | translate}}
            </a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a ui-sref="about"-->
          <!--ui-sref-active="active">О нас</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a ui-sref="aikido"
               ui-sref-active="active">{{"Aikido" | translate}}</a>
          </li>
          <li class="nav-item">
            <a ui-sref="mutokukai"
               ui-sref-active="active">{{"Mutokukai" | translate}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav-right">
      <a href="#" ng-click="nav.changeLocale('ua-UA')" ng-show="nav.currentLocale() == 'ru-RU'" title="{{'Switch_UA' | translate}}">
        RUS
      </a>
      <a href="#" ng-click="nav.changeLocale('ru-RU')" ng-show="nav.currentLocale() == 'ua-UA'" title="{{'Switch_RU' | translate}}">
        UKR
      </a>
    </div>
  </div>
</header>
