body {
  position: relative;
  background-color: black;
  font-family: "SegoeUIRegular";
  font-size: 16px;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.h2 {
  font-family: "SegoeUIItalic";
}

.container {
  background-color: white;
}

.container-grey {
  background-color: #373a3c;
}

.navbar {
  border-radius: 0;
  padding: 0;
  z-index: 2;
}

.banner-container {
  padding: 0;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner .h4{
  font-family: 'SegoeUISemiBold';
}

.banner .h5{
  font-family: 'SegoeUIItalic';
}

.banner-text {
  color: #FFFFFF;
  position: absolute;
  top: 25px;
  left: 100px;
}

img {
  max-width: 100%;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo-container img {
  width: 96px;
  height: 96px;
  margin-bottom: -30px;
  margin-right: 10px;
}

.navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.logo span {
  display: block;
  font-size: 14px;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

header nav a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

header nav a.active, a:hover {
  color: white;
  text-decoration: none;
  background: -webkit-linear-gradient(#666, #373a3c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#666, #373a3c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#666, #373a3c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#666, #373a3c);
}

.navbar-nav .nav-item + .nav-item {
  margin: 0;
}

.grey-section {
  background-color: #ddd;
  margin-left: -15px;
  margin-bottom: 15px;
  font-family: 'SegoeUIItalic';
  line-height: 1.25;
  padding: 15px 0;
}

.grey-section-text {
  font-size: 14px;
  padding: 15px 15px 0 50px;
}

.schedule {
  font-size: 25px;
  font-family: 'SegoeUISemiBold';
  margin-top: 20px;
  line-height: 1.25;
}

.time-red {
  color: #891A1F
}

main{
  padding: 15px 0;
}

.socials-list li {
  background-color: #E6E6E6;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.socials-list i{
  color: #636363;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 23px;
  font-weight: bold;
}

.socials-list a:hover{
  background: none;
}

.dotted-list{
  list-style: disc;
}
