body {
  position: relative;
  background-color: #000000;
  font-family: "SegoeUIRegular";
  font-size: 16px;
  color: #262626;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  color: white;
  text-decoration: none;
}

strong {
  font-family: 'SegoeUIBold';
}

article {
  margin-bottom: 20px;
}

.h1, .h2 {
  font-family: "SegoeUIItalic";
  margin: 0;
}

.container {
  background-color: #ffffff;
}

.container-grey {
  background-color: #373a3c;
}

.navbar {
  border-radius: 0;
  padding: 0;
  z-index: 2;
}

.banner-container {
  padding: 0;
  margin-top: 66px;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner .h4 {
  font-family: 'SegoeUISemiBold';
}

.banner .h5 {
  font-family: 'SegoeUIItalic';
}

.banner-text {
  color: #FFFFFF;
  position: absolute;
  top: 25px;
  left: 100px;
}

img {
  max-width: 100%;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo-container img {
  width: 96px;
  height: 96px;
  margin-bottom: -30px;
  margin-right: 10px;
}

.navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.logo span {
  display: block;
  font-size: 14px;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

header nav a {
  display: block;
  padding: 20px;
}

header nav a.active, header nav a:hover {
  color: white;
  text-decoration: none;
  background: -webkit-linear-gradient(#666, #373a3c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#666, #373a3c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#666, #373a3c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#666, #373a3c);
}

.navbar-nav .nav-item + .nav-item {
  margin: 0;
}

.section {
  margin-bottom: 15px;
}

.grey-section {
  background-color: #e6e6e6;
  margin-left: -15px;
  font-family: 'SegoeUIItalic';
  line-height: 1.25;
  padding: 15px 0 15px 15px;

  background: #e6e6e6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #e6e6e6, #b0b0b0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e6e6e6, #b0b0b0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e6e6e6, #b0b0b0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e6e6e6, #b0b0b0); /* Standard syntax */

}

.grey-section-text {
  font-size: 14px;
  padding: 15px 15px 15px 50px;
}

.schedule {
  font-size: 21px;
  font-family: 'SegoeUISemiBold';
  margin-top: 20px;
  line-height: 1.7;
}

.schedule .row{
  border-bottom: 1px solid #e6e6e6;
  margin-right: 0;
  padding: 6px 0;
}
.schedule .row:last-child{
  border-bottom: none;
}

.time-red {
  color: #891A1F
}

main {
  padding: 15px 0;
}

.socials-list li {
  display: inline-block;
  text-align: center;
}

.socials-list i {
  padding: 10px;
  border-radius: 50%;
  background-color: #E6E6E6;
  color: #666666;
  font-size: 23px;
  font-weight: bold;
  width: 46px;
  height: 46px
}

.socials-list i:hover {
  background-color: #666666;
  color: #E6E6E6;
}

.socials-list a:hover {
  background: none;
}

.dotted-list {
  list-style: disc;
}

footer {
  font-size: 21px;
  padding: 15px;
  font-family: 'SegoeUISemiBold';
  color: white;
  text-decoration: none;
  background: #4A4A4A; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4A4A4A, #232122); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4A4A4A, #232122); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4A4A4A, #232122); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4A4A4A, #232122); /* Standard syntax */
}

header.h1 {
  padding: 20px;
}

.nav-left, .nav-right {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px;
}

.nav-right {
  width: 20%;
  text-align: right;
  font-family: 'SegoeUISemiBold';
  font-size: 20px;
}

.nav-left {
  width: 80%;
}

.contacts-links, .contacts-links:hover, .contacts-links:focus {
  color: #262626;
}

