<main class="container">
  <section class="col-md-10 offset-md-1">
    <header class="h1">О Мутокукай</header>

    <article>
      <strong class="time-red">Мутокукай</strong> — Антибюрократична, децентралізована структура, мережа для обміну досвідом. Кожна національна дочірня організація має повну адміністративну автономію, що дозволяє їй вільно адаптуватися до місцевих умов. (Наприклад, цілком очевидно, що адміністративні питання у Франції стосуються виключно французів). Технічне керівництво Мутокукай здійснює технічний комітет, сформований засновниками. Оскільки ми не хочемо бути чи ставати федерацією, ми залишаємо за собою право самостійно обирати ВСІХ наших членів, яких можуть представляти додзьо, групи додзьо або окремі учасники. Членство в Мутокукай жодним чином не обмежує можливість одночасно бути членом інших організацій, федерацій чи будь-яких інших об'єднань.
    </article>

    <article><strong class="time-red">Мутокукай</strong>
      <p>Аполітичний і не має наміру конкурувати з федераціями.

У будь-якій країні федерації є адміністративними органами, відповідальними за організацію спортивної діяльності та представлення спортсменів у міністерствах спорту чи аналогічних установах (Олімпійському комітеті тощо). У Франції такі організації отримують від міністерства офіційні повноваження (акредитацію) на проведення іспитів для присвоєння національних рівнів та видачу національних тренерських посвідчень. Ми не маємо наміру втручатися в цю сферу.

Мутокукай вважає, що спорт (його концепція, дух і цілі) несумісний із практикою айкідо чи будь-якого іншого традиційного бойового мистецтва. Ми не визнаємо практику айкідо, навіть якщо вона ґрунтується на фізичному тренуванні, як спортивну діяльність.

Ми підтримуємо традиційну практику, засновану на передачі мистецтва так, як його передав сихан Тамура Нобуйоші, а також збагачену досвідом багатьох інших учителів — учнів Засновника айкідо. Саме тому ми свідомо уникаємо підпорядкування міністерствам спорту, проголошуючи нашу практику культурною та духовною. Нехай спорт залишається спортом.

Ми відкрили головне додзьо в Ареніс-де-Мунт (Arenys de Munt), на північ від Барселони, у Каталонії (Іспанія). Його площа становить 500 м², з яких 400 м² займає татамі. Додзьо має всі умови для занять і можливість тривалого перебування учасників.

Мутокукай очікує на офіційне визнання з боку Айкікай.
      </p>
      <br>
      <p>Технічним радником Мутокукай був сихан Ямада Йошіміцу, а засновниками та технічними керівниками організації є Малькольм Тікі Шеван і Стефан Бенедетті.
      </p>
    </article>

    <article>
      <p><strong class="time-red">Мутоку</strong>, <strong class="time-red">Безкорисливість</strong></p>

Сутра Серця (Hannya Shingyō) містить саму суть буддійського вчення та шляху бодхісаттви (Пробудженого). Однією з чеснот бодхісаттви є відсутність (無) прагнення до особистої вигоди (得), відсутність духу накопичення та користолюбства. Мудрість і співчуття не є засобами досягнення пробудження, а становлять невід'ємну частину Природи Будди. Саме тому безкорисливість (無得 — му-току) і робить бодхісаттву Пробудженим.

Так само і практика айкідо не може виправдовуватися прагненням до ступенів чи титулів, адже це лише посилює прив'язаності та суперечить духові самозвільнення, який лежить в основі айкідо. Найважливішою є безкорислива практика, адже тільки вона веде до справжньої свободи.

    </article>
  </section>
</main>
