<div class="container">
  <div class="col-sm-6 offset-3">
    <h1>Вход в Тренерскую</h1>
    <form>
      <div class="form-group">
        <label for="login">Логин</label>
        <input type="text"
               class="form-control"
               id="login"
               aria-describedby="login"
               placeholder="Enter login"
               ng-model="signIn.login">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="Password"
               ng-model="signIn.password">
      </div>
      <button class="button btn-success" ng-click="signIn.signIn()">Войти
      </button>
    </form>
  </div>
</div>
</div>
