<div class="container">
  <h1>Sign In</h1>
  <div class="row">
    <form class="col-sm-8 offset-2">
      <div class="form-group">
        <label for="email">Login</label>
        <input type="text"
               class="form-control"
               id="login"
               aria-describedby="login"
               placeholder="Enter login"
               ng-model="signIn.login">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="Password"
               ng-model="signIn.password">
      </div>
      <button class="button btn-success" ng-click="signIn.signIn()">Login</button>
    </form>
  </div>
</div>