<header class="navbar navbar-fixed-top navbar-dark">
  <div class="container">
    <div class="nav-left">
      <div class="logo">
        <div class="logo-container hidden-md-down">
          <img ng-src="app/images/logo-red.svg" alt="Logo">
        </div>
        <a class="navbar-brand text-xs-center" ui-sref="coachroom.dashboard">
          Mutokukai <span>{{"Kharkiv" | translate}}</span>
        </a>
      </div>
      <nav class="hidden-sm-down">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item">
            <a ui-sref="coachroom.dashboard" ui-sref-active="active">
              Главная
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav-right">
      <div class="hidden-sm-down">
        <div class="lang" ng-click="$ctrl.signOut()">
          Выход
        </a>
      </div>

      <button type="button" class="navbar-toggler hidden-md-up"  data-toggle="collapse" data-target="#header-navbar-collapse"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>
  </div>

  <div class="collapse navbar-collapse hidden-md-up" id="header-navbar-collapse">
    <ul class="nav navbar-nav text-xs-center">
      <li class="nav-item">
        <a ui-sref="coachroom.dashboard" ui-sref-active="active">
          Главная
        </a>
      </li>
      <li ng-click="$ctrl.sign_out()">
        Выход
      </li>
    </ul>
  </div>
</header>
